# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# Test coverage
.coverage
htmlcov/

# Logs
*.log

# OS-specific files
.DS_Store

# IDEs and Editors
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
*~

# Alembic Versions Cache (if any)
alembic/versions/__pycache__/
